In [1]:
import sqlite3
conn = sqlite3.connect('C:/Users/EFKA-PC/Desktop/github1/Global_homicides/homicides_fin.db')

In [2]:
import pandas as pd
sql_query = '''PRAGMA table_info('homicides');'''

result = pd.read_sql_query(sql_query, conn)
display(result)

    cid            name  type  notnull dflt_value  pk
0     0          Region  TEXT        0       None   0
1     1       Subregion  TEXT        0       None   0
2     2         country  TEXT        0       None   0
3     3          Source  TEXT        0       None   0
4     4  homicides_2000   INT        0       None   0
5     5  homicides_2001   INT        0       None   0
6     6  homicides_2002   INT        0       None   0
7     7  homicides_2003   INT        0       None   0
8     8  homicides_2004   INT        0       None   0
9     9  homicides_2005   INT        0       None   0
10   10  homicides_2006   INT        0       None   0
11   11  homicides_2007   INT        0       None   0
12   12  homicides_2008   INT        0       None   0
13   13  homicides_2009   INT        0       None   0
14   14  homicides_2010   INT        0       None   0
15   15  homicides_2011   INT        0       None   0
16   16  homicides_2012   INT        0       None   0
17   17  homicides_2013   INT        0       None   0
18   18  homicides_2014   INT        0       None   0
19   19  homicides_2015   INT        0       None   0
20   20  homicides_2016   INT        0       None   0
21   21  homicides_2017   INT        0       None   0
22   22  homicides_2018   INT        0       None   0
23   23  homicides_2019   INT        0       None   0
24   24  homicides_2020   INT        0       None   0
25   25      rates_2000  REAL        0       None   0
26   26      rates_2001  REAL        0       None   0
27   27      rates_2002  REAL        0       None   0
28   28      rates_2003  REAL        0       None   0
29   29      rates_2004  REAL        0       None   0
30   30      rates_2005  REAL        0       None   0
31   31      rates_2006  REAL        0       None   0
32   32      rates_2007  REAL        0       None   0
33   33      rates_2008  REAL        0       None   0
34   34      rates_2009  REAL        0       None   0
35   35      rates_2010  REAL        0       None   0
36   36      rates_2011  REAL        0       None   0
37   37      rates_2012  REAL        0       None   0
38   38      rates_2013  REAL        0       None   0
39   39      rates_2014  REAL        0       None   0
40   40      rates_2015  REAL        0       None   0
41   41      rates_2016  REAL        0       None   0
42   42      rates_2017  REAL        0       None   0
43   43      rates_2018  REAL        0       None   0
44   44      rates_2019  REAL        0       None   0
45   45      rates_2020  REAL        0       None   0

In [3]:
import pandas as pd

# Assuming that 'conn' is a valid connection to the SQLite database
sql_query = '''SELECT * FROM homicides LIMIT 5;'''

result = pd.read_sql_query(sql_query, conn)
display(result)

,Region,Subregion,country,Source,homicides_2000,homicides_2001,homicides_2002,homicides_2003,homicides_2004,homicides_2005,...,rates_2011,rates_2012,rates_2013,rates_2014,rates_2015,rates_2016,rates_2017,rates_2018,rates_2019,rates_2020
0,Asia,Southern Asia,Afghanistan,NSO,NaN,NaN,NaN,NaN,NaN,NaN,...,4.09,6.25,NaN,NaN,9.78,6.55,6.68,6.66,NaN,NaN
1,Europe,Southern Europe,Albania,"MD,CTS,NSO,Covid-19",131.0,220.0,216.0,166.0,131.0,154.0,...,4.85,5.39,4.27,4.04,2.21,2.74,2.01,2.29,2.26,2.12
2,Africa,Northern Africa,Algeria,"CTS,External",NaN,NaN,NaN,NaN,NaN,NaN,...,0.76,1.40,1.26,1.48,1.36,NaN,NaN,NaN,1.33,1.32
3,Oceania,Polynesia,American Samoa,"NSO,SDG,External",NaN,1.0,7.0,3.0,4.0,6.0,...,8.97,3.59,5.38,5.38,7.17,5.38,NaN,NaN,0.00,NaN
4,Europe,Southern Europe,Andorra,"Interpol,CTS",NaN,NaN,NaN,NaN,1.0,NaN,...,1.19,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,2.59

sql_query = '''
SELECT 
    SUM(homicides_2000) AS total_homicides_2000, 
    SUM(homicides_2001) AS total_homicides_2001,
    SUM(homicides_2002) AS total_homicides_2002,
    SUM(homicides_2003) AS total_homicides_2003,
    SUM(homicides_2004) AS total_homicides_2004,
    SUM(homicides_2005) AS total_homicides_2005,
    SUM(homicides_2006) AS total_homicides_2006,
    SUM(homicides_2007) AS total_homicides_2007,
    SUM(homicides_2008) AS total_homicides_2008,
    SUM(homicides_2009) AS total_homicides_2009,
    SUM(homicides_2010) AS total_homicides_2010,
    SUM(homicides_2011) AS total_homicides_2011,
    SUM(homicides_2012) AS total_homicides_2012,
    SUM(homicides_2013) AS total_homicides_2013,
    SUM(homicides_2014) AS total_homicides_2014,
    SUM(homicides_2015) AS total_homicides_2015,
    SUM(homicides_2016) AS total_homicides_2016,
    SUM(homicides_2017) AS total_homicides_2017,
    SUM(homicides_2018) AS total_homicides_2018,
    SUM(homicides_2019) AS total_homicides_2019,
    SUM(homicides_2020) AS total_homicides_2020,
    SUM(rates_2000) AS total_rates_2000, 
    SUM(rates_2001) AS total_rates_2001,
    SUM(rates_2002) AS total_rates_2002,
    SUM(rates_2003) AS total_rates_2003,
    SUM(rates_2004) AS total_rates_2004,
    SUM(rates_2005) AS total_rates_2005,
    SUM(rates_2006) AS total_rates_2006,
    SUM(rates_2007) AS total_rates_2007,
    SUM(rates_2008) AS total_rates_2008,
    SUM(rates_2009) AS total_rates_2009,
    SUM(rates_2010) AS total_rates_2010,
    SUM(rates_2011) AS total_rates_2011,
    SUM(rates_2012) AS total_rates_2012,
    SUM(rates_2013) AS total_rates_2013,
    SUM(rates_2014) AS total_rates_2014,
    SUM(rates_2015) AS total_rates_2015,
    SUM(rates_2016) AS total_rates_2016,
    SUM(rates_2017) AS total_rates_2017,
    SUM(rates_2018) AS total_rates_2018,
    SUM(rates_2019) AS total_rates_2019,
    SUM(rates_2020) AS total_rates_2020
FROM homicides; '''


result = pd.read_sql_query(sql_query, conn)
display(result)

## Countries with highest homicide rates

In [5]:
import pandas as pd
sql_query = '''
SELECT 
    country, 
    homicides_2020, 
    rates_2020
FROM homicides 
WHERE rates_2020 IS NOT NULL 
ORDER BY rates_2020 DESC 
LIMIT 10;
'''

result = pd.read_sql_query(sql_query, conn)
display(result)

        country  homicides_2020  rates_2020
0       Jamaica            1323       44.68
1      Honduras            3598       36.33
2  South Africa           19846       33.46
3        Mexico           36579       28.37
4        Belize             102       25.65
5      Colombia           11520       22.64
6      Dominica              15       20.84
7        Brazil           43879       20.64
8        Guyana             157       19.96
9       Bahamas              73       18.56

## Homicide Rate increase from 2019 to 2020

In [6]:
import pandas as pd
sql_query = '''
SELECT 
    region,
    (rates_2020 - rates_2019) AS rate_increase
FROM homicides
WHERE rates_2020 IS NOT NULL AND rates_2019 IS NOT NULL
ORDER BY rate_increase DESC
LIMIT 10;
'''

result = pd.read_sql_query(sql_query, conn)
display(result)

     Region  rate_increase
0  Americas           2.59
1    Europe           1.44
2      Asia           1.41
3  Americas           1.34
4  Americas           1.34
5    Europe           1.18
6  Americas           0.94
7    Europe           0.45
8      Asia           0.45
9    Africa           0.29

## Homicides and homicides rates in EUROPE 2020

In [7]:
import pandas as pd
sql_query = '''
SELECT country, homicides_2020, rates_2020
FROM homicides
WHERE region = 'Europe'
ORDER BY rates_2020 DESC;

'''

result = pd.read_sql_query(sql_query, conn)
display(result)

                    country  homicides_2020  rates_2020
0        Russian Federation         10697.0        7.33
1                 Lithuania           101.0        3.71
2                   Estonia            42.0        3.17
3                Montenegro            18.0        2.87
4                    Latvia            49.0        2.60
5                   Andorra             2.0        2.59
6                   Albania            61.0        2.12
7                   Finland            91.0        1.64
8                     Malta             7.0        1.59
9                   Iceland             5.0        1.47
10                  Romania           281.0        1.46
11                   Sweden           124.0        1.23
12                 Slovakia            63.0        1.15
13                   Serbia            89.0        1.02
14                 Bulgaria            69.0        0.99
15                  Croatia            39.0        0.95
16                  Denmark            55.0        0.95
17                  Germany           782.0        0.93
18                 Portugal            93.0        0.91
19                  Hungary            80.0        0.83
20                   Greece            78.0        0.75
21                  Austria            65.0        0.72
22                  Czechia            77.0        0.72
23                   Poland           268.0        0.71
24                  Ireland            34.0        0.69
25                    Spain           298.0        0.64
26              Netherlands           107.0        0.62
27                   Norway            31.0        0.57
28              Switzerland            47.0        0.54
29                 Slovenia            11.0        0.53
30                    Italy           285.0        0.47
31               Luxembourg             1.0        0.16
32                  Belarus             NaN         NaN
33                  Belgium             NaN         NaN
34   Bosnia and Herzegovina             NaN         NaN
35          Channel Islands             NaN         NaN
36                   France             NaN         NaN
37                Gibraltar             NaN         NaN
38                 Holy See             NaN         NaN
39              Isle of Man             NaN         NaN
40  Kosovo under UNSCR 1244             NaN         NaN
41            Liechtenstein             NaN         NaN
42                   Monaco             NaN         NaN
43          North Macedonia             NaN         NaN
44      Republic of Moldova             NaN         NaN
45               San Marino             NaN         NaN
46                  Ukraine             NaN         NaN
47           United Kingdom             NaN         NaN

In [8]:
import pandas as pd
sql_query = 'SELECT* from homicides'

result = pd.read_sql_query(sql_query, conn)
display(result)

,Region,Subregion,country,Source,homicides_2000,homicides_2001,homicides_2002,homicides_2003,homicides_2004,homicides_2005,...,rates_2011,rates_2012,rates_2013,rates_2014,rates_2015,rates_2016,rates_2017,rates_2018,rates_2019,rates_2020
0,Asia,Southern Asia,Afghanistan,NSO,NaN,NaN,NaN,NaN,NaN,NaN,...,4.09,6.25,NaN,NaN,9.78,6.55,6.68,6.66,NaN,NaN
1,Europe,Southern Europe,Albania,"MD,CTS,NSO,Covid-19",131.0,220.0,216.0,166.0,131.0,154.0,...,4.85,5.39,4.27,4.04,2.21,2.74,2.01,2.29,2.26,2.12
2,Africa,Northern Africa,Algeria,"CTS,External",NaN,NaN,NaN,NaN,NaN,NaN,...,0.76,1.40,1.26,1.48,1.36,NaN,NaN,NaN,1.33,1.32
3,Oceania,Polynesia,American Samoa,"NSO,SDG,External",NaN,1.0,7.0,3.0,4.0,6.0,...,8.97,3.59,5.38,5.38,7.17,5.38,NaN,NaN,0.00,NaN
4,Europe,Southern Europe,Andorra,"Interpol,CTS",NaN,NaN,NaN,NaN,1.0,NaN,...,1.19,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,2.59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,SDG Adjusted,Obtained based on an a statistical modificatio...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
266,UNMIL,United Nations Mission in Liberia (UNMIL),None,None,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
267,UNODC Estimate,Obtained based on an a statistical modificatio...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268,UNODC,Obtained based on an a statistical modificatio...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269,WPB,World Prison Brief,None,None,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
import pandas as pd

# Assuming that 'conn' is a valid connection to the SQLite database
sql_query = '''SELECT * FROM homicides
                WHERE region = 'Europe';'''

result = pd.read_sql_query(sql_query, conn)
display(result)

,Region,Subregion,country,Source,homicides_2000,homicides_2001,homicides_2002,homicides_2003,homicides_2004,homicides_2005,...,rates_2011,rates_2012,rates_2013,rates_2014,rates_2015,rates_2016,rates_2017,rates_2018,rates_2019,rates_2020
0,Europe,Southern Europe,Albania,"MD,CTS,NSO,Covid-19",131.0,220.0,216.0,166.0,131.0,154.0,...,4.85,5.39,4.27,4.04,2.21,2.74,2.01,2.29,2.26,2.12
1,Europe,Southern Europe,Andorra,"Interpol,CTS",NaN,NaN,NaN,NaN,1.0,NaN,...,1.19,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,2.59
2,Europe,Western Europe,Austria,"UNSDC,Eurostat,CTS,Covid-19",82.0,70.0,65.0,50.0,59.0,54.0,...,0.89,0.93,0.72,0.52,0.53,0.62,0.79,0.97,0.86,0.72
3,Europe,Eastern Europe,Belarus,"UNSDC,NSO,CTS",1013.0,969.0,989.0,NaN,NaN,NaN,...,3.96,3.61,3.53,3.60,3.45,3.25,2.54,2.39,2.38,NaN
4,Europe,Western Europe,Belgium,"WHO Adjusted,UNSDC,Eurostat",212.0,282.0,319.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Europe,Southern Europe,Bosnia and Herzegovina,"UNECE,Interpol,CTS",99.0,82.0,90.0,NaN,68.0,NaN,...,1.39,1.75,1.30,1.44,1.66,1.33,1.25,1.17,1.18,NaN
6,Europe,Eastern Europe,Bulgaria,"UNSDC,Eurostat,CTS,External",332.0,308.0,255.0,247.0,244.0,199.0,...,1.73,1.92,1.50,1.55,1.75,1.10,1.45,1.30,1.19,0.99
7,Europe,Northern Europe,Channel Islands,NP,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Europe,Southern Europe,Croatia,"MoI,CTS,UNODC Research,Covid-19",101.0,81.0,73.0,69.0,83.0,68.0,...,1.14,1.19,1.08,0.85,0.87,1.05,1.10,0.58,0.80,0.95
9,Europe,Eastern Europe,Czechia,"Eurostat,UNSDC,GSH Revision,CTS",191.0,135.0,139.0,163.0,134.0,108.0,...,0.81,0.99,0.85,0.76,0.83,0.61,0.62,NaN,0.91,0.72
10,Europe,Northern Europe,Denmark,"GSH Revision,UNSDC,CTS,NSO,Covid-19",58.0,52.0,48.0,NaN,NaN,NaN,...,0.82,0.84,0.85,1.31,1.09,0.98,1.24,1.01,1.14,0.95
11,Europe,Northern Europe,Estonia,"UNSDC,Eurostat,CTS,MoJ,External",143.0,137.0,142.0,NaN,NaN,NaN,...,4.90,4.76,3.94,3.11,3.42,2.51,2.20,2.12,1.73,3.17
12,Europe,Northern Europe,Finland,"UNSDC,CTS,GSH Revision,External",148.0,156.0,132.0,103.0,148.0,119.0,...,2.04,1.63,1.64,1.61,1.50,1.35,1.22,1.56,1.59,1.64
13,Europe,Western Europe,France,"UNSDC,Eurostat,CTS",1051.0,1047.0,1119.0,987.0,990.0,976.0,...,1.35,1.23,1.22,1.23,1.57,1.37,1.25,1.20,1.32,NaN
14,Europe,Western Europe,Germany,"SDG,CTS,NP,Covid-19",1364.0,1181.0,1172.0,1097.0,1112.0,1044.0,...,0.91,0.81,0.84,0.88,0.83,1.17,0.98,0.95,0.75,0.93
15,Europe,Southern Europe,Gibraltar,NP,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Europe,Southern Europe,Greece,"UNSDC,Eurostat,CTS,UNODC Research,Covid-19",NaN,132.0,94.0,NaN,111.0,132.0,...,1.70,1.54,1.42,1.00,0.87,0.79,0.81,0.94,0.74,0.75
17,Europe,Southern Europe,Holy See,CTS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,NaN
18,Europe,Eastern Europe,Hungary,"UNSDC,CTS,Covid-19",205.0,254.0,203.0,228.0,209.0,164.0,...,1.47,1.26,1.57,1.49,2.26,2.07,2.49,0.89,0.66,0.83
19,Europe,Northern Europe,Iceland,"Eurostat,UNSDC,CTS,External",5.0,1.0,4.0,NaN,NaN,3.0,...,0.93,0.31,0.31,0.61,0.91,0.30,0.90,0.89,0.29,1.47
20,Europe,Northern Europe,Ireland,"UNSDC,NP,NSO,CTS,Covid-19",37.0,52.0,52.0,37.0,30.0,52.0,...,0.91,1.13,1.10,NaN,0.67,0.72,0.82,0.81,0.70,0.69
21,Europe,Northern Europe,Isle of Man,NP,NaN,NaN,NaN,NaN,NaN,NaN,...,1.18,2.37,2.38,3.59,1.20,0.00,NaN,NaN,NaN,NaN
22,Europe,Southern Europe,Italy,"UNSDC,CTS",766.0,709.0,644.0,NaN,NaN,610.0,...,0.93,0.89,0.83,0.79,0.77,0.67,0.62,0.59,0.52,0.47
23,Europe,Southern Europe,Kosovo under UNSCR 1244,CTS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN
24,Europe,Northern Europe,Latvia,"UNSDC,CTS,NSO,Covid-19",238.0,219.0,214.0,NaN,NaN,NaN,...,NaN,3.38,2.45,3.17,3.35,3.49,4.15,4.36,3.93,2.60
25,Europe,Western Europe,Liechtenstein,"Eurostat,CTS,NSO",0.0,0.0,0.0,0.0,1.0,NaN,...,0.00,0.00,0.00,2.69,0.00,0.00,2.65,2.64,2.63,NaN
26,Europe,Northern Europe,Lithuania,"UNSDC,CTS,Covid-19",370.0,353.0,293.0,NaN,343.0,372.0,...,6.84,6.63,6.58,5.35,5.87,5.29,4.53,4.57,3.44,3.71
27,Europe,Western Europe,Luxembourg,"Eurostat,UNECE,CTS,OHCHR",4.0,9.0,6.0,3.0,2.0,4.0,...,0.77,0.00,0.18,0.72,0.88,0.86,0.34,0.50,0.65,0.16
28,Europe,Southern Europe,Malta,"UNSDC,Eurostat,CTS,NSO,External",4.0,6.0,6.0,NaN,7.0,4.0,...,0.72,2.84,1.64,1.39,0.92,1.15,2.06,1.59,1.14,1.59
29,Europe,Western Europe,Monaco,UNSDC,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Europe,Southern Europe,Montenegro,"Eurostat,CTS",NaN,NaN,27.0,NaN,NaN,NaN,...,3.36,2.72,1.60,3.19,2.71,4.46,2.39,2.23,3.66,2.87
31,Europe,Western Europe,Netherlands,"MD,NSO,CTS",180.0,202.0,195.0,202.0,191.0,174.0,...,0.85,0.86,0.74,0.73,0.61,0.55,0.78,0.59,0.64,0.62
32,Europe,Southern Europe,North Macedonia,"UNSDC,Eurostat,CTS,SDG",47.0,55.0,60.0,70.0,49.0,NaN,...,1.45,1.40,1.06,1.68,1.20,0.91,1.49,1.20,1.15,NaN
33,Europe,Northern Europe,Norway,"UNSDC,GSH Revision,SDG,Eurostat,CTS,NP,External",48.0,37.0,46.0,NaN,36.0,33.0,...,2.24,0.54,0.91,0.56,0.46,0.51,0.53,0.47,0.52,0.57
34,Europe,Eastern Europe,Poland,"UNSDC,Eurostat,CTS,Covid-19",855.0,776.0,716.0,NaN,NaN,NaN,...,1.10,1.07,0.80,0.75,0.78,0.68,0.76,0.73,0.67,0.71
35,Europe,Southern Europe,Portugal,"MD Adjusted,Eurostat,SDG,External",116.0,105.0,119.0,NaN,NaN,135.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.87,0.91
36,Europe,Eastern Europe,Republic of Moldova,"UNSDC,CTS,NSO,SDG",433.0,411.0,401.0,319.0,277.0,296.0,...,5.30,5.62,5.62,3.95,4.64,4.92,3.47,4.10,3.88,NaN
37,Europe,Eastern Europe,Romania,"UNSDC,Eurostat,SDG,CTS",556.0,699.0,656.0,696.0,487.0,433.0,...,1.01,1.05,1.08,1.62,1.70,1.55,1.30,1.28,1.26,1.46
38,Europe,Eastern Europe,Russian Federation,"NSO,GSH Revision,CTS",41090.0,42921.0,44252.0,41764.0,39256.0,35636.0,...,11.26,11.28,11.11,11.42,11.48,10.92,9.13,8.21,7.68,7.33
39,Europe,Southern Europe,San Marino,WHO,0.0,0.0,1.0,0.0,0.0,0.0,...,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Europe,Southern Europe,Serbia,"Eurostat,CTS,Covid-19",228.0,243.0,NaN,176.0,164.0,147.0,...,1.51,1.24,1.59,1.35,1.17,1.39,1.06,1.23,1.03,1.02
41,Europe,Eastern Europe,Slovakia,"TransMonEE,UNSDC,SDG,CTS,OHCHR",129.0,118.0,121.0,137.0,108.0,93.0,...,1.61,1.16,1.31,1.20,0.81,1.05,1.36,1.14,1.39,1.15
42,Europe,Southern Europe,Slovenia,"UNSDC,CTS,Covid-19",36.0,28.0,36.0,21.0,27.0,20.0,...,0.78,0.68,0.58,0.77,0.97,0.48,0.92,0.48,0.48,0.53
43,Europe,Southern Europe,Spain,"WHO Adjusted,Eurostat,CTS,Covid-19",553.0,577.0,564.0,587.0,520.0,518.0,...,0.82,0.77,0.64,0.69,0.65,0.63,0.66,0.62,0.71,0.64
44,Europe,Northern Europe,Sweden,"NCCP,CTS,External",96.0,87.0,101.0,85.0,107.0,83.0,...,0.86,0.71,0.90,0.90,1.15,1.08,1.14,1.08,1.11,1.23
45,Europe,Western Europe,Switzerland,"UNSDC,Eurostat,CTS,Covid-19",69.0,86.0,86.0,NaN,NaN,NaN,...,0.58,0.56,0.70,0.50,0.69,0.54,0.53,0.59,0.54,0.54
46,Europe,Eastern Europe,Ukraine,"UNSDC,TransMonEE,CTS,DMDB",4418.0,4854.0,4296.0,4041.0,3487.0,3030.0,...,NaN,5.14,NaN,6.31,NaN,NaN,6.18,NaN,NaN,NaN
47,Europe,Northern Europe,United Kingdom,"CTS,MD Adjusted,Eurostat,SDG",915.0,966.0,1107.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
import pandas as pd

# Assuming that 'conn' is a valid connection to the SQLite database
sql_query = '''SELECT * FROM homicides
                WHERE Region = 'Americas';'''

result = pd.read_sql_query(sql_query, conn)
display(result)

,Region,Subregion,country,Source,homicides_2000,homicides_2001,homicides_2002,homicides_2003,homicides_2004,homicides_2005,...,rates_2011,rates_2012,rates_2013,rates_2014,rates_2015,rates_2016,rates_2017,rates_2018,rates_2019,rates_2020
0,Americas,Latin America and the Caribbean,Anguilla,"WHO,NSO,SDG,PAHO",1.0,0.0,2.0,2.0,1.0,0.0,...,0.00,36.25,7.17,28.34,NaN,NaN,NaN,NaN,NaN,NaN
1,Americas,Latin America and the Caribbean,Antigua and Barbuda,"MD,PAHO,OAS",5.0,7.0,5.0,5.0,4.0,3.0,...,NaN,11.06,NaN,NaN,NaN,NaN,NaN,NaN,3.09,NaN
2,Americas,Latin America and the Caribbean,Argentina,"MoS,CTS,UNODC Research",NaN,3129.0,3570.0,2967.0,2338.0,2198.0,...,6.08,6.34,7.28,7.57,6.59,6.03,5.27,5.38,5.14,NaN
3,Americas,Latin America and the Caribbean,Aruba,MD,NaN,4.0,5.0,4.0,2.0,6.0,...,1.96,3.90,5.82,1.93,NaN,NaN,NaN,NaN,NaN,NaN
4,Americas,Latin America and the Caribbean,Bahamas,"UNSDC,OAS,CTS,NP,Covid-19",74.0,43.0,52.0,50.0,44.0,52.0,...,35.32,30.53,32.41,33.46,39.02,29.37,31.96,23.60,24.39,18.56
5,Americas,Latin America and the Caribbean,Barbados,"MD,UNSDC,OAS,CTS",20.0,25.0,25.0,33.0,22.0,29.0,...,9.54,7.75,8.44,8.78,10.86,7.70,10.48,9.77,16.72,NaN
6,Americas,Latin America and the Caribbean,Belize,"OAS,CTS,Mol,Covid-19",41.0,64.0,87.0,67.0,79.0,81.0,...,37.55,42.90,28.64,34.81,32.97,37.46,37.79,37.33,34.33,25.65
7,Americas,Northern America,Bermuda,"UNSDC,NP,CTS,External",0.0,3.0,1.0,2.0,1.0,2.0,...,12.29,9.27,7.77,6.25,6.28,12.63,7.93,NaN,0.00,NaN
8,Americas,Latin America and the Caribbean,Bolivia (Plurinational State of),CTS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,6.17,5.43,6.41,4.79,7.00,NaN
9,Americas,Latin America and the Caribbean,Brazil,"MD Adjusted,DATASUS,External",45360.0,47943.0,49695.0,51043.0,48374.0,47578.0,...,26.43,28.27,28.26,29.43,28.43,29.66,30.67,26.69,20.86,20.64
10,Americas,Latin America and the Caribbean,British Virgin Islands,MD,NaN,1.0,1.0,2.0,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Americas,Northern America,Canada,"NSO,NP,OAS,CTS,SDG,External",546.0,554.0,582.0,549.0,625.0,664.0,...,1.75,1.57,1.44,1.46,1.69,1.68,1.80,1.76,1.84,1.97
12,Americas,Latin America and the Caribbean,Cayman Islands,"MD,WHO,NSO,NP",4.0,2.0,0.0,3.0,5.0,3.0,...,NaN,NaN,8.34,8.22,NaN,NaN,NaN,NaN,NaN,NaN
13,Americas,Latin America and the Caribbean,Chile,"CTS,OAS,NSO",NaN,NaN,NaN,513.0,NaN,576.0,...,3.69,2.49,3.16,2.47,3.39,3.40,4.22,4.40,3.93,NaN
14,Americas,Latin America and the Caribbean,Colombia,"UNSDC,OAS,CTS,NP,Covid-19",26539.0,27840.0,28387.0,23523.0,20210.0,18111.0,...,35.32,35.68,33.16,28.41,26.90,25.74,25.02,25.34,24.00,22.64
15,Americas,Latin America and the Caribbean,Costa Rica,"SDG,UNSDC,MoJ,CTS,NSO,UNODC Research,External",249.0,257.0,258.0,NaN,280.0,335.0,...,10.23,8.68,8.67,9.95,11.49,11.80,12.18,11.26,11.15,11.19
16,Americas,Latin America and the Caribbean,Cuba,"MD,MoH",587.0,605.0,661.0,642.0,660.0,684.0,...,4.75,5.52,5.97,5.31,5.47,5.05,NaN,NaN,NaN,NaN
17,Americas,Latin America and the Caribbean,Curaçao,PAHO,NaN,10.0,39.0,43.0,41.0,26.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Americas,Latin America and the Caribbean,Dominica,"UNSDC,OAS,CTS",2.0,1.0,9.0,8.0,8.0,8.0,...,8.46,NaN,NaN,12.66,12.64,22.44,26.59,18.15,19.50,20.84
19,Americas,Latin America and the Caribbean,Dominican Republic,"NGO,SES,CTS,RIC,OSCRD,External",1210.0,1095.0,1279.0,1902.0,2239.0,2394.0,...,25.61,22.84,19.69,17.81,NaN,15.54,11.57,10.05,9.55,8.86
20,Americas,Latin America and the Caribbean,Ecuador,"UNSDC,WHO Adjusted,Interpol,OAS,CTS,Covid-19",1833.0,1658.0,1906.0,NaN,NaN,NaN,...,15.38,12.43,10.98,8.22,6.49,5.84,5.79,5.82,6.84,7.78
21,Americas,Latin America and the Caribbean,El Salvador,"NP,OAS,CTS,NP,MoJ",3551.0,3590.0,2835.0,3356.0,3897.0,3882.0,...,70.38,41.58,40.10,62.29,105.23,83.01,62.02,52.11,37.16,NaN
22,Americas,Latin America and the Caribbean,French Guiana,NP,NaN,NaN,NaN,NaN,58.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Americas,Northern America,Greenland,NSO,13.0,17.0,12.0,5.0,11.0,10.0,...,1.77,14.17,12.41,7.09,7.09,5.32,NaN,NaN,NaN,NaN
24,Americas,Latin America and the Caribbean,Grenada,"OAS,CTS,UNODC Research",15.0,6.0,14.0,9.0,6.0,11.0,...,3.75,13.03,5.55,7.35,5.47,9.98,10.82,10.77,14.29,NaN
25,Americas,Latin America and the Caribbean,Guadeloupe,"NP,GOV",NaN,NaN,NaN,NaN,26.0,23.0,...,6.66,7.66,8.69,5.23,9.74,5.75,NaN,NaN,NaN,NaN
26,Americas,Latin America and the Caribbean,Guatemala,"UNSDC,NP,CTS",2904.0,3230.0,3631.0,4237.0,4507.0,5338.0,...,38.00,33.76,33.05,32.99,NaN,NaN,NaN,32.20,26.04,NaN
27,Americas,Latin America and the Caribbean,Guyana,"NSO,OAS,NSO,CTS",76.0,80.0,143.0,209.0,131.0,142.0,...,17.29,18.40,20.41,19.52,19.42,18.41,14.83,14.25,17.37,19.96
28,Americas,Latin America and the Caribbean,Haiti,"OAS,DPKO",NaN,NaN,NaN,NaN,NaN,NaN,...,9.05,10.08,9.99,9.29,10.01,9.48,NaN,6.68,NaN,NaN
29,Americas,Latin America and the Caribbean,Honduras,"RSC,Interpol,OCAVI,NSO,CTS,Covid-19",3176.0,3488.0,3623.0,4073.0,3639.0,3212.0,...,83.77,83.00,73.09,65.78,56.49,55.55,40.98,38.93,42.01,36.33
30,Americas,Latin America and the Caribbean,Jamaica,"UNSDC,NP,OAS,CTS,NSO,External",887.0,1139.0,1045.0,975.0,1471.0,1674.0,...,40.09,38.67,42.01,34.95,41.78,46.59,56.39,43.85,NaN,44.68
31,Americas,Latin America and the Caribbean,Martinique,NP,NaN,NaN,NaN,NaN,19.0,19.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Americas,Latin America and the Caribbean,Mexico,"NSO,CTS,SDG,Covid-19",10737.0,10285.0,10088.0,10087.0,9329.0,9921.0,...,23.52,22.14,19.41,16.63,17.04,19.91,25.71,29.07,28.74,28.37
33,Americas,Latin America and the Caribbean,Montserrat,"MD,WHO,PAHO",0.0,0.0,0.0,0.0,0.0,1.0,...,NaN,20.28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Americas,Latin America and the Caribbean,Nicaragua,NP,476.0,537.0,554.0,635.0,646.0,729.0,...,12.50,11.25,9.80,8.55,8.42,7.19,6.75,10.55,7.87,NaN
35,Americas,Latin America and the Caribbean,Panama,"NSO,CTS,PPR,External",299.0,306.0,376.0,337.0,308.0,364.0,...,14.81,16.89,17.29,15.48,11.87,10.03,9.67,9.39,11.30,11.12
36,Americas,Latin America and the Caribbean,Paraguay,"OAS,CTS,External",995.0,1314.0,1372.0,1285.0,1209.0,887.0,...,10.37,10.11,9.28,8.76,9.22,9.87,7.88,7.14,7.86,6.74
37,Americas,Latin America and the Caribbean,Peru,"CTS,OAS",NaN,NaN,NaN,NaN,NaN,NaN,...,5.53,6.67,6.76,6.90,7.37,7.87,NaN,7.67,7.54,NaN
38,Americas,Latin America and the Caribbean,Puerto Rico,"NP,NSO,External",734.0,802.0,820.0,818.0,843.0,825.0,...,33.12,28.70,26.37,20.38,NaN,NaN,23.04,21.09,20.66,18.49
39,Americas,Latin America and the Caribbean,Saint Kitts and Nevis,"NP,OAS,CTS",3.0,6.0,5.0,10.0,11.0,8.0,...,68.77,36.09,NaN,NaN,NaN,58.11,44.20,43.86,22.71,NaN
40,Americas,Latin America and the Caribbean,Saint Lucia,"MD,OAS,GSH Revision,NSO",23.0,34.0,42.0,36.0,37.0,41.0,...,26.21,22.08,18.59,19.07,15.63,16.66,29.29,21.44,25.16,NaN
41,Americas,Latin America and the Caribbean,Saint Martin (French part),GOV,NaN,NaN,NaN,NaN,NaN,NaN,...,21.36,5.40,21.94,22.21,16.73,27.73,NaN,NaN,NaN,NaN
42,Americas,Northern America,Saint Pierre and Miquelon,NP,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,Americas,Latin America and the Caribbean,Saint Vincent and the Grenadines,"NGO,OAS,CTS",20.0,12.0,20.0,18.0,29.0,26.0,...,NaN,NaN,NaN,NaN,NaN,36.54,35.51,30.85,17.18,NaN
44,Americas,Latin America and the Caribbean,Suriname,"OAS,CTS",68.0,79.0,57.0,60.0,46.0,69.0,...,NaN,NaN,5.30,5.78,6.08,7.26,5.43,6.60,5.16,NaN
45,Americas,Latin America and the Caribbean,Trinidad and Tobago,"OAS,CTS,GSH Revision,NGO",120.0,151.0,171.0,229.0,260.0,386.0,...,26.34,28.26,30.07,29.73,30.65,33.61,35.69,37.13,38.57,NaN
46,Americas,Latin America and the Caribbean,Turks and Caicos Islands,"MD,PAHO",0.0,0.0,2.0,0.0,NaN,0.0,...,NaN,NaN,11.52,5.65,NaN,NaN,NaN,NaN,NaN,NaN
47,Americas,Northern America,United States of America,"NP,UNSDC,CTS,GSH Revision,FBI",15586.0,19033.0,16229.0,NaN,NaN,NaN,...,4.65,4.67,4.47,4.39,4.89,5.33,5.26,4.95,4.94,6.28
48,Americas,Latin America and the Caribbean,United States Virgin Islands,MD,23.0,28.0,41.0,31.0,37.0,37.0,...,42.54,49.28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,Americas,Latin America and the Caribbean,Uruguay,"MoI,CTS",214.0,218.0,231.0,197.0,NaN,190.0,...,5.91,7.90,7.67,7.88,8.59,7.80,8.23,12.06,11.32,NaN
50,Americas,Latin America and the Caribbean,Venezuela (Bolivarian Republic of),"NGO,UNSDC,NGO,OAS,Attorney General,CTS",8022.0,7960.0,9617.0,11342.0,9719.0,9964.0,...,48.80,54.74,NaN,63.34,52.04,58.31,49.88,NaN,NaN,NaN

In [11]:
import pandas as pd

# Assuming that 'conn' is a valid connection to the SQLite database
sql_query = '''SELECT * FROM homicides
                WHERE region = 'Europe';'''

result = pd.read_sql_query(sql_query, conn)
display(result.style.hide_index())

C:\Users\EFKA-PC\AppData\Local\Temp\ipykernel_15436\3656342894.py:8: FutureWarning: this method is deprecated in favour of `Styler.hide(axis="index")`
  display(result.style.hide_index())

## Extracting the results

In [ ]:
import pandas as pd

# Assuming that 'conn' is a valid connection to the SQLite database
sql_query = '''SELECT * FROM homicides
                WHERE region = 'Europe';'''

result = pd.read_sql_query(sql_query, conn)
result.to_excel("C:/Users/EFKA-PC/Desktop/github1/Global_homicides/europe_homicides.xlsx", index=False)

In [12]:
import pandas as pd

# Assuming that 'conn' is a valid connection to the SQLite database
sql_query = '''SELECT * FROM homicides
                WHERE region = 'Americas';'''

result = pd.read_sql_query(sql_query, conn)
display(result.style.hide_index())

C:\Users\EFKA-PC\AppData\Local\Temp\ipykernel_15436\1997319725.py:8: FutureWarning: this method is deprecated in favour of `Styler.hide(axis="index")`
  display(result.style.hide_index())

In [ ]:
import pandas as pd

# Assuming that 'conn' is a valid connection to the SQLite database
sql_query = '''SELECT * FROM homicides
                WHERE region = 'Europe';'''

result = pd.read_sql_query(sql_query, conn)
result.to_excel("C:/Users/EFKA-PC/Desktop/github1/Global_homicides/Americas_homicides.xlsx", index=False)

In [13]:
import pandas as pd
import numpy as np

# Assuming that 'conn' is a valid connection to the SQLite database
sql_query = '''SELECT * FROM homicides;'''

# read data from the database
homicides_df = pd.read_sql_query(sql_query, conn)

# list of columns for which to keep non-NaN values
cols_to_keep = ['Region', 'Subregion', 'country', 'Source']
cols_to_keep.extend([f'homicides_{i}' for i in range(2010, 2021)])
cols_to_keep.extend([f'rates_{i}' for i in range(2010, 2021)])

# create a new dataframe with non-NaN values for selected columns
homicides_clean_df = homicides_df[cols_to_keep].dropna()

# create a new dataframe with only NaN values for selected columns
cols_to_check = [f'homicides_{i}' for i in range(2010, 2021)]
cols_to_check.extend([f'rates_{i}' for i in range(2010, 2021)])
homicides_nans_df = homicides_df[homicides_df[cols_to_check].isna().any(axis=1)]

# print the first 5 rows of each dataframe
print('Cleaned dataframe:')
display(homicides_clean_df.head())
print('\nDataframe with NaN values:')
display(homicides_nans_df.head())

Cleaned dataframe:

,Region,Subregion,country,Source,homicides_2010,homicides_2011,homicides_2012,homicides_2013,homicides_2014,homicides_2015,...,rates_2011,rates_2012,rates_2013,rates_2014,rates_2015,rates_2016,rates_2017,rates_2018,rates_2019,rates_2020
1,Europe,Southern Europe,Albania,"MD,CTS,NSO,Covid-19",127.0,142.0,157.0,124.0,117.0,64.0,...,4.85,5.39,4.27,4.04,2.21,2.74,2.01,2.29,2.26,2.12
9,Asia,Western Asia,Armenia,"UNSDC,TransMonEE,CTS,Covid-19",56.0,71.0,65.0,63.0,72.0,75.0,...,2.47,2.25,2.17,2.47,2.56,2.96,2.38,1.69,2.47,1.75
11,Oceania,Australia and New Zealand,Australia,"MD,Eurostat,GSH Revision,CTS",231.0,248.0,243.0,245.0,243.0,236.0,...,1.10,1.06,1.05,1.03,0.99,0.94,0.85,0.89,0.89,0.87
12,Europe,Western Europe,Austria,"UNSDC,Eurostat,CTS,Covid-19",58.0,75.0,79.0,62.0,45.0,46.0,...,0.89,0.93,0.72,0.52,0.53,0.62,0.79,0.97,0.86,0.72
14,Americas,Latin America and the Caribbean,Bahamas,"UNSDC,OAS,CTS,NP,Covid-19",94.0,127.0,111.0,119.0,124.0,146.0,...,35.32,30.53,32.41,33.46,39.02,29.37,31.96,23.60,24.39,18.56

Dataframe with NaN values:

,Region,Subregion,country,Source,homicides_2000,homicides_2001,homicides_2002,homicides_2003,homicides_2004,homicides_2005,...,rates_2011,rates_2012,rates_2013,rates_2014,rates_2015,rates_2016,rates_2017,rates_2018,rates_2019,rates_2020
0,Asia,Southern Asia,Afghanistan,NSO,NaN,NaN,NaN,NaN,NaN,NaN,...,4.09,6.25,NaN,NaN,9.78,6.55,6.68,6.66,NaN,NaN
2,Africa,Northern Africa,Algeria,"CTS,External",NaN,NaN,NaN,NaN,NaN,NaN,...,0.76,1.40,1.26,1.48,1.36,NaN,NaN,NaN,1.33,1.32
3,Oceania,Polynesia,American Samoa,"NSO,SDG,External",NaN,1.0,7.0,3.0,4.0,6.0,...,8.97,3.59,5.38,5.38,7.17,5.38,NaN,NaN,0.00,NaN
4,Europe,Southern Europe,Andorra,"Interpol,CTS",NaN,NaN,NaN,NaN,1.0,NaN,...,1.19,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,2.59
5,Africa,Sub-Saharan Africa,Angola,NSO,NaN,NaN,NaN,NaN,NaN,NaN,...,4.36,4.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#import sqlite3

#conn = sqlite3.connect('C:/Users/EFKA-PC/Desktop/github1/Global_homicides/homicides_fin.db')
c = conn.cursor()

# Execute SQL command to create table
c.execute('''CREATE TABLE homicides_clean AS SELECT Region, Subregion, country, homicides_2010, 
homicides_2011,homicides_2012, homicides_2013, homicides_2014, homicides_2015, homicides_2016, 
homicides_2017, homicides_2018, homicides_2019, homicides_2020, rates_2010, rates_2011, rates_2012, 
rates_2013,rates_2014, rates_2015, rates_2016, rates_2017, rates_2018, rates_2019, rates_2020 
FROM homicides WHERE Region = "Europe" AND 
        NOT homicides_2010 IS NULL AND NOT homicides_2011 IS NULL AND 
        NOT homicides_2012 IS NULL AND NOT homicides_2013 IS NULL AND 
        NOT homicides_2014 IS NULL AND NOT homicides_2015 IS NULL AND 
        NOT homicides_2016 IS NULL AND NOT homicides_2017 IS NULL AND 
        NOT homicides_2018 IS NULL AND NOT homicides_2019 IS NULL AND 
        NOT homicides_2020 IS NULL AND 
        NOT rates_2010 IS NULL AND NOT rates_2011 IS NULL AND 
        NOT rates_2012 IS NULL AND NOT rates_2013 IS NULL AND 
        NOT rates_2014 IS NULL AND NOT rates_2015 IS NULL AND 
        NOT rates_2016 IS NULL AND NOT rates_2017 IS NULL AND 
        NOT rates_2018 IS NULL AND NOT rates_2019 IS NULL AND 
        NOT rates_2020 IS NULL; ''')

# Commit the changes
conn.commit()

# Close the connection
#conn.close()

In [14]:
import pandas as pd
sql_query = '''PRAGMA table_info('homicides_clean');'''

result = pd.read_sql_query(sql_query, conn)
display(result)

    cid            name  type  notnull dflt_value  pk
0     0          Region  TEXT        0       None   0
1     1       Subregion  TEXT        0       None   0
2     2         country  TEXT        0       None   0
3     3  homicides_2010   INT        0       None   0
4     4  homicides_2011   INT        0       None   0
5     5  homicides_2012   INT        0       None   0
6     6  homicides_2013   INT        0       None   0
7     7  homicides_2014   INT        0       None   0
8     8  homicides_2015   INT        0       None   0
9     9  homicides_2016   INT        0       None   0
10   10  homicides_2017   INT        0       None   0
11   11  homicides_2018   INT        0       None   0
12   12  homicides_2019   INT        0       None   0
13   13  homicides_2020   INT        0       None   0
14   14      rates_2010  REAL        0       None   0
15   15      rates_2011  REAL        0       None   0
16   16      rates_2012  REAL        0       None   0
17   17      rates_2013  REAL        0       None   0
18   18      rates_2014  REAL        0       None   0
19   19      rates_2015  REAL        0       None   0
20   20      rates_2016  REAL        0       None   0
21   21      rates_2017  REAL        0       None   0
22   22      rates_2018  REAL        0       None   0
23   23      rates_2019  REAL        0       None   0
24   24      rates_2020  REAL        0       None   0

In [16]:
import pandas as pd

# Assuming that 'conn' is a valid connection to the SQLite database
sql_query = '''SELECT * FROM homicides_clean
                WHERE region = 'Europe';'''

result = pd.read_sql_query(sql_query, conn)
display(result.style.hide_index())

C:\Users\EFKA-PC\AppData\Local\Temp\ipykernel_15436\3993588847.py:8: FutureWarning: this method is deprecated in favour of `Styler.hide(axis="index")`
  display(result.style.hide_index())

In [30]:
sql_query = '''SELECT Country, Region, rates_2020,homicides_2020 FROM homicides
WHERE Region = 'Americas'
ORDER BY rates_2020 DESC
LIMIT 10;'''

result = pd.read_sql_query(sql_query, conn)
print(result)

       country    Region  rates_2020  homicides_2020
0      Jamaica  Americas       44.68            1323
1     Honduras  Americas       36.33            3598
2       Mexico  Americas       28.37           36579
3       Belize  Americas       25.65             102
4     Colombia  Americas       22.64           11520
5     Dominica  Americas       20.84              15
6       Brazil  Americas       20.64           43879
7       Guyana  Americas       19.96             157
8      Bahamas  Americas       18.56              73
9  Puerto Rico  Americas       18.49             529

In [34]:
sql_query = '''SELECT Country, Region,homicides_2020, rates_2020 FROM homicides
WHERE Region = 'Americas'
ORDER BY homicides_2020 DESC
LIMIT 10;'''

result = pd.read_sql_query(sql_query, conn)
print(result)

                    country    Region  homicides_2020  rates_2020
0                    Brazil  Americas           43879       20.64
1                    Mexico  Americas           36579       28.37
2  United States of America  Americas           20982        6.28
3                  Colombia  Americas           11520       22.64
4                  Honduras  Americas            3598       36.33
5                   Ecuador  Americas            1372        7.78
6                   Jamaica  Americas            1323       44.68
7        Dominican Republic  Americas             961        8.86
8                    Canada  Americas             743        1.97
9                Costa Rica  Americas             570       11.19

In [37]:
sql_query = '''SELECT Country, Region,rates_2017,rates_2018, rates_2019,rates_2020 FROM homicides
WHERE Region = 'Americas'
ORDER BY rates_2020 DESC
LIMIT 10;'''

result = pd.read_sql_query(sql_query, conn)
print(result)

       country    Region  rates_2017  rates_2018  rates_2019  rates_2020
0      Jamaica  Americas       56.39       43.85         NaN       44.68
1     Honduras  Americas       40.98       38.93       42.01       36.33
2       Mexico  Americas       25.71       29.07       28.74       28.37
3       Belize  Americas       37.79       37.33       34.33       25.65
4     Colombia  Americas       25.02       25.34       24.00       22.64
5     Dominica  Americas       26.59       18.15       19.50       20.84
6       Brazil  Americas       30.67       26.69       20.86       20.64
7       Guyana  Americas       14.83       14.25       17.37       19.96
8      Bahamas  Americas       31.96       23.60       24.39       18.56
9  Puerto Rico  Americas       23.04       21.09       20.66       18.49

In [38]:
sql_query = '''SELECT Country, Region,rates_2017,rates_2018, rates_2019,rates_2020 FROM homicides
WHERE Region = 'Europe'
ORDER BY rates_2020 DESC
LIMIT 10;'''

result = pd.read_sql_query(sql_query, conn)
print(result)

              country  Region  rates_2017  rates_2018  rates_2019  rates_2020
0  Russian Federation  Europe        9.13        8.21        7.68        7.33
1           Lithuania  Europe        4.53        4.57        3.44        3.71
2             Estonia  Europe        2.20        2.12        1.73        3.17
3          Montenegro  Europe        2.39        2.23        3.66        2.87
4              Latvia  Europe        4.15        4.36        3.93        2.60
5             Andorra  Europe         NaN         NaN         NaN        2.59
6             Albania  Europe        2.01        2.29        2.26        2.12
7             Finland  Europe        1.22        1.56        1.59        1.64
8               Malta  Europe        2.06        1.59        1.14        1.59
9             Iceland  Europe        0.90        0.89        0.29        1.47

In [44]:
sql_query = '''SELECT country, rates_2018,rates_2019,rates_2020
FROM homicides
WHERE rates_2020 IS NOT NULL
ORDER BY rates_2020 ASC
LIMIT 10;'''

result = pd.read_sql_query(sql_query, conn)
print(result)

                country  rates_2018  rates_2019  rates_2020
0            Luxembourg        0.50        0.65        0.16
1             Singapore        0.16        0.21        0.17
2  China, Hong Kong SAR        0.65        0.32        0.29
3       China Macao SAR        0.32        0.31        0.31
4               Vanuatu         NaN        0.67        0.33
5                 Italy        0.59        0.52        0.47
6              Slovenia        0.48        0.48        0.53
7           Switzerland        0.59        0.54        0.54
8                Norway        0.47        0.52        0.57
9     Republic of Korea        0.60        0.58        0.60

In [43]:
sql_query = '''SELECT country, homicides_2018,homicides_2019,homicides_2020
FROM homicides
WHERE rates_2020 IS NOT NULL
ORDER BY rates_2020 ASC
LIMIT 10;'''

result = pd.read_sql_query(sql_query, conn)
print(result)

                country  homicides_2018  homicides_2019  homicides_2020
0            Luxembourg             3.0               4               1
1             Singapore             9.0              12              10
2  China, Hong Kong SAR            48.0              24              22
3       China Macao SAR             2.0               2               2
4               Vanuatu             NaN               2               1
5                 Italy           359.0             317             285
6              Slovenia            10.0              10              11
7           Switzerland            50.0              46              47
8                Norway            25.0              28              31
9     Republic of Korea           309.0             297             308

In [ ]:
SELECT country, homicides_2020, rates_2020
FROM homicides
WHERE rates_2020 IS NOT NULL
ORDER BY rates_2020 DESC;

In [23]:
import pandas as pd

# Assuming that 'conn' is a valid connection to the SQLite database
sql_query = '''
SELECT country, Region, homicides_2015,homicides_2016,homicides_2017,homicides_2018,homicides_2019,homicides_2020
FROM homicidesa
WHERE Region = 'Americas' 

LIMIT 10;'''

result = pd.read_sql_query(sql_query, conn)
result

,country,Region,homicides_2015,homicides_2016,homicides_2017,homicides_2018,homicides_2019,homicides_2020
0,Anguilla,Americas,NaN,NaN,NaN,NaN,NaN,NaN
1,Antigua and Barbuda,Americas,NaN,NaN,NaN,NaN,3.0,NaN
2,Argentina,Americas,2837.0,2625.0,2317.0,2387.0,2303.0,NaN
3,Aruba,Americas,NaN,NaN,NaN,NaN,NaN,NaN
4,Bahamas,Americas,146.0,111.0,122.0,91.0,95.0,73.0
5,Barbados,Americas,31.0,22.0,30.0,28.0,48.0,NaN
6,Belize,Americas,119.0,138.0,142.0,143.0,134.0,102.0
7,Bermuda,Americas,4.0,8.0,5.0,NaN,0.0,NaN
8,Bolivia (Plurinational State of),Americas,671.0,599.0,717.0,544.0,806.0,NaN
9,Brazil,Americas,58138.0,61143.0,63748.0,55914.0,44033.0,43879.0

In [ ]:
!pip install ipython-sql

In [ ]:
import sqlite3
conn = sqlite3.connect('C:/Users/EFKA-PC/Desktop/github1/Global_homicides/homicides_fin.db')
%%sql 
CREATE TABLE homicides_clean AS
SELECT 
    Region, Subregion, country, homicides_2010, homicides_2011, homicides_2012, homicides_2013,
    homicides_2014, homicides_2015, homicides_2016, homicides_2017, homicides_2018, homicides_2019,
    homicides_2020, rates_2010, rates_2011, rates_2012, rates_2013, rates_2014, rates_2015, rates_2016,
    rates_2017, rates_2018, rates_2019, rates_2020
FROM homicides
WHERE Region = 'Europe';

In [ ]:
%load_ext sql

In [ ]:
%%sql 
CREATE TABLE homicides_clean AS
SELECT 
    Region, Subregion, country, homicides_2010, homicides_2011, homicides_2012, homicides_2013,
    homicides_2014, homicides_2015, homicides_2016, homicides_2017, homicides_2018, homicides_2019,
    homicides_2020, rates_2010, rates_2011, rates_2012, rates_2013, rates_2014, rates_2015, rates_2016,
    rates_2017, rates_2018, rates_2019, rates_2020
FROM homicides
WHERE Region = 'Europe';

In [ ]:
CREATE TABLE homicides_clean AS 
    SELECT 
        Region, 
        Subregion, 
        country, 
        Source, 
        homicides_2010,
        homicides_2011,
        homicides_2012,
        homicides_2013,
        homicides_2014,
        homicides_2015,
        homicides_2016,
        homicides_2017,
        homicides_2018,
        homicides_2019,
        homicides_2020,
        rates_2010,
        rates_2011,
        rates_2012,
        rates_2013,
        rates_2014,
        rates_2015,
        rates_2016,
        rates_2017,
        rates_2018,
        rates_2019,
        rates_2020
    FROM homicides
    WHERE Region = 'Europe' AND 
        NOT homicides_2010 IS NULL AND NOT homicides_2011 IS NULL AND 
        NOT homicides_2012 IS NULL AND NOT homicides_2013 IS NULL AND 
        NOT homicides_2014 IS NULL AND NOT homicides_2015 IS NULL AND 
        NOT homicides_2016 IS NULL AND NOT homicides_2017 IS NULL AND 
        NOT homicides_2018 IS NULL AND NOT homicides_2019 IS NULL AND 
        NOT homicides_2020 IS NULL AND 
        NOT rates_2010 IS NULL AND NOT rates_2011 IS NULL AND 
        NOT rates_2012 IS NULL AND NOT rates_2013 IS NULL AND 
        NOT rates_2014 IS NULL AND NOT rates_2015 IS NULL AND 
        NOT rates_2016 IS NULL AND NOT rates_2017 IS NULL AND 
        NOT rates_2018 IS NULL AND NOT rates_2019 IS NULL AND 
        NOT rates_2020 IS NULL;